@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Orbitron:wght@400;500;600;700;900&family=Raleway:wght@500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@media (max-width: 990px) {
  .navbar {
    opacity: 0.95; }
  .navbar-collapse {
    height: 100vh; }
  .mt-mob {
    margin-top: 2rem; } }

/* Variables*/
:root {
  --color-corn-light: #f2deff;
  --color-corn: cornflowerblue;
  --color-bluelight: rgba(0,212,255,1);
  --color-blue: rgb(53,99,139);
  --color-green: rgb(0,255,126);
  --color-grey: grey;
  --color-wsmoke: whitesmoke; }

/* Tipografía general */
body {
  font-family: raleway;
  background-color: var(--color-wsmoke); }

/* Creando Nuevas Clases */
.mt-6 {
  margin-top: 6rem; }

.bg-corn {
  background-color: var(--color-corn); }

.text-corn {
  color: var(--color-corn); }

.bg-blue {
  background-color: var(--color-blue); }

.bg-blue-light {
  background-color: var(--color-bluelight); }

.bg-wsmoke {
  background-color: var(--color-wsmoke); }

.bg-gradient0 {
  background: linear-gradient(90deg, #35638b 0%, #00b8bf 35%, #00d4ff 100%); }

.bg-gradient1 {
  background: linear-gradient(90deg, #37dcd0 20%, #ff8681 40%, #a37d8a 79%); }

.bg-gradient2 {
  background: linear-gradient(90deg, #a37d8a 20%, #e08384 40%, #37dcd0 79%); }

.bg-gradient3 {
  background: linear-gradient(90deg, #37dcd0 20%, #b47f88 39%, #e08384 60%, #37dcd0 80%); }

/* NAVBAR */
a img {
  border-radius: 10%; }

.nav-hover:hover {
  transform: scale(1.09);
  transition: 500ms ease; }

/* Pisando Clases existentes */
.btn-primary {
  color: var(--color-corn-light);
  background-color: var(--color-corn);
  border-color: var(--color-corn); }

.btn-primary:hover {
  color: var(--color-corn-light);
  background: linear-gradient(90deg, #35638b 0%, #00b8bf 35%, #00d4ff 100%);
  border-color: var(--color-green);
  transform: scale(0.9); }

.accordion-button:not(.collapsed) {
  color: var(--color-wsmoke);
  background: linear-gradient(90deg, #35638b 0%, #00b8bf 35%, #00d4ff 100%);
  box-shadow: var(--color-corn); }

.accordion-button:focus {
  z-index: 3;
  border-color: var(--color-corn);
  outline: 0;
  box-shadow: 0 0 0 0.15rem var(--color-bluelight); }

/* EXPERIENCIAS */
.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border: 4px;
  padding: 10px;
  text-align: center; }

.grid-navbar {
  grid-area: navbar;
  background-color: lightgreen; }

.grid-sidebar {
  grid-area: sidebar;
  background-color: lightsalmon; }

.grid-main {
  grid-area: main;
  background-color: whitesmoke; }

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-areas: "navbar" "sidebar" "main"; }

@media (min-width: 990px) {
  .grid-container {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-columns: repeat(2fr, 1fr);
    gap: 10px;
    grid-template-areas: "navbar navbar navbar" "main main sidebar"; } }

/* FOOTER */
footer {
  width: 100%;
  background: var(--color-corn);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; }

.anchoFooter {
  margin-top: 0px; }

.redes {
  display: inline-block; }

.bi-facebook {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-corn-light); }
  .bi-facebook:hover {
    color: #3b5998; }

.bi-whatsapp {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-corn-light); }
  .bi-whatsapp:hover {
    color: #00ff7e; }

.bi-instagram {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-corn-light); }
  .bi-instagram:hover {
    color: #8a3ab9; }

.header-mixin {
  text-align: center;
  color: black;
  height: 50px; }

.productos {
  background-color: salmon;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem; }
  .productos h2 {
    color: #410707; }
  .productos p {
    color: black; }

.servicios {
  background-color: aqua;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem; }
  .servicios h2 {
    color: #410707; }
  .servicios p {
    color: black; }

.extras {
  background-color: lightgreen;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem; }
  .extras h2 {
    color: #410707; }
  .extras p {
    color: black; }
