@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Orbitron:wght@400;500;600;700;900&family=Raleway:wght@500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    background-color: blue; }
  .navbar-collapse {
    height: 100vh; }
  .mt-mob {
    margin-top: 2rem; }
  .d-flex {
    justify-content: center;
    width: 100%;
    margin: 15px; }
    .d-flex .btn {
      cursor: pointer;
      align-items: center; }
  .card {
    margin-top: 10px; }
  .imgconsejo {
    margin-top: 10px; } }

/* Variables*/
:root {
  --color-corn-light: #f2deff;
  --color-corn: cornflowerblue;
  --color-bluelight: rgba(0,212,255,1);
  --color-blue: rgb(53,99,139);
  --color-green: rgb(0,255,126);
  --color-grey: grey;
  --color-wsmoke: whitesmoke;
  --grid-main: rgb(186,119,135);
  --grid-side:rgb(0, 228, 211);
  --color-nomade: rgb(44, 98, 141); }

/* Normalizado*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Tipografía general */
body {
  font-family: raleway;
  background-color: var(--color-wsmoke); }

/* Creando Nuevas Clases */
.mt-6 {
  margin-top: 5rem; }

.bg-corn {
  background-color: var(--color-corn); }

.text-corn {
  color: var(--color-corn); }

.bg-blue {
  background-color: var(--color-blue); }

.bg-blue-light {
  background-color: var(--color-bluelight); }

.bg-wsmoke {
  background-color: var(--color-wsmoke); }

.bg-gradient0 {
  background: linear-gradient(90deg, #35638b 0%, #00b8bf 35%, #00d4ff 100%); }

.bg-gradient1 {
  background: linear-gradient(90deg, #37dcd0 20%, #ff8681 40%, #a37d8a 79%); }

.bg-gradient2 {
  background: linear-gradient(90deg, #a37d8a 20%, #e08384 40%, #37dcd0 79%); }

.bg-gradient3 {
  background: linear-gradient(90deg, #37dcd0 20%, #b47f88 39%, #e08384 60%, #37dcd0 80%); }

/* NAVBAR */
a img {
  border-radius: 10%; }

.nav-hover:hover {
  transform: scale(1.09);
  transition: 500ms ease; }

/* Pisando Clases existentes */
.btn-primary {
  color: var(--color-corn-light);
  background-color: var(--color-corn);
  border-color: var(--color-corn); }
  .btn-primary:hover {
    color: var(--color-wsmoke);
    background: linear-gradient(90deg, #35638b 0%, #00b8bf 35%, #00d4ff 100%);
    border-color: var(--color-blue-light);
    transform: scale(0.95);
    transition: 0.5s; }

.accordion-button:not(.collapsed) {
  color: var(--color-wsmoke);
  background: #00b8bf;
  box-shadow: var(--color-corn); }
  .accordion-button:not(.collapsed):focus {
    z-index: 3;
    border-color: var(--color-corn);
    outline: 0;
    box-shadow: 0 0 0 0.15rem var(--color-bluelight); }

/* EXPERIENCIAS */
.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border: 4px;
  padding: 10px;
  text-align: center;
  margin-right: 24px; }

.grid-navbar {
  grid-area: navbar;
  background: linear-gradient(90deg, #37dcd0 20%, #ff8681 40%, #a37d8a 79%); }

.grid-sidebar {
  grid-area: sidebar;
  background-color: #ba7787; }

.grid-main {
  grid-area: main;
  background-color: #00e4d3; }

.grid-footer {
  grid-area: footer;
  background: linear-gradient(90deg, #a37d8a 20%, #e08384 40%, #37dcd0 79%); }

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-areas: "navbar" "main" "sidebar" "footer"; }

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-columns: repeat(2fr, 1fr);
    gap: 10px;
    grid-template-areas: "navbar navbar navbar navbar" "main main sidebar sidebar" "footer footer footer footer"; } }

/* FOOTER */
footer {
  width: 100%;
  background: var(--color-corn);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; }

.anchoFooter {
  margin-top: 0px; }

.redes {
  display: inline-block; }

.bi-facebook {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-corn-light); }
  .bi-facebook:hover {
    color: #3b5998; }

.bi-whatsapp {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-corn-light); }
  .bi-whatsapp:hover {
    color: #00ff7e; }

.bi-instagram {
  /* font-size: 30px; */
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: var(--color-corn-light); }
  .bi-instagram:hover {
    color: #8a3ab9; }

.productos {
  background-color: #00e4d3;
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border: 4px;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer; }
  .productos h2 {
    color: #343434; }
  .productos p {
    color: #343434; }
  .productos:hover {
    transform: scale(0.95);
    background: linear-gradient(90deg, #35638b 0%, #00b8bf 35%, #00d4ff 100%);
    color: var(--color-wsmoke); }

.servicios {
  background-color: lightsalmon;
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border: 4px;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer; }
  .servicios h2 {
    color: #343434; }
  .servicios p {
    color: #343434; }
  .servicios:hover {
    transform: scale(0.95);
    background: linear-gradient(90deg, #35638b 0%, #00b8bf 35%, #00d4ff 100%);
    color: whitesmoke; }

.extras {
  background-color: #ba7787;
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border: 4px;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer; }
  .extras h2 {
    color: #343434; }
  .extras p {
    color: #343434; }
  .extras:hover {
    transform: scale(0.95);
    background: linear-gradient(90deg, #35638b 0%, #00b8bf 35%, #00d4ff 100%);
    color: whitesmoke; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 0.5rem; }
  .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.imagenes {
  color: var(--color-corn);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .imagenes img {
    width: 250px;
    height: 150px;
    opacity: .5;
    border: 2px double var(--color-grey);
    cursor: pointer; }
    .imagenes img:hover {
      opacity: 1;
      border: solid; }

/* Historia */
.historia {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem; }
  .historia img {
    justify-content: flex-end; }

.historia__textos {
  justify-content: flex-start; }
  .historia__textos h2 {
    text-align: left;
    color: var(--text-color-inverse); }
  .historia__textos p {
    width: 100%;
    text-align: justify;
    color: var(--primary-color); }

.historia__img {
  justify-content: flex-end;
  margin: 1rem; }
  .historia__img img {
    width: 100%; }

/*  NOMADE  */
.nomade-menu {
  display: flex;
  flex-direction: column-reverse;
  justify-content: last baseline;
  align-items: center;
  color: var(--color-grey);
  text-align: center;
  text-decoration: none;
  list-style: none;
  cursor: pointer; }

.nomade-item {
  text-align: center;
  color: var(--color-grey);
  font-family: 'Orbitron', sans-serif;
  font-size: 1rem;
  width: 200px;
  padding: 5px;
  margin: 5px;
  box-shadow: 1px 2px 3px var(--color-grey);
  background-color: var(--color-corn);
  border-radius: 10%; }
  .nomade-item:hover {
    transition: 0.5s;
    color: whitesmoke;
    background: #35638b;
    background: linear-gradient(90deg, #35638b 0%, #00b8bf 35%, #00d4ff 100%); }

.nomade-link {
  text-decoration: none;
  color: #343434; }
  .nomade-link:hover {
    color: whitesmoke; }
