
/* FOOTER */

footer{
    width: 100%;
    background: var(--color-corn);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
  
  .anchoFooter {
    margin-top: 0px;
  }
  
  .redes {
    display: inline-block;
  }

  @mixin iconosRedes ($hover) {
    /* font-size: 30px; */
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--color-corn-light);
  
    &:hover{
      color: $hover;
    }
    
  }
  
  .bi-facebook {
    @include iconosRedes ($fb)
  }
  
  .bi-whatsapp {
    @include iconosRedes ($wp)
  }
  
  .bi-instagram {
    @include iconosRedes ($ig)
  }