/* EXPERIENCIAS */

.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border: 4px;
    padding: 10px;
    text-align: center;
}

.grid-navbar{
  grid-area: navbar;
  background-color: lightgreen;
}

.grid-sidebar{
  grid-area: sidebar;
  background-color: lightsalmon;
}

.grid-main{
  grid-area: main;
  background-color: whitesmoke;
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "navbar"
  "main"
  "sidebar";
}

@media (min-width: 990px) {
	.grid-container {
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-columns: repeat(2fr, 1fr);
        gap: 10px;
        grid-template-areas: 
        "navbar navbar navbar"
        "main main sidebar";
	}
}
