/* EXPERIENCIAS */

.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border: 4px;
    padding: 10px;
    text-align: center;
    margin-right: 24px;
}

.grid-navbar{
  grid-area: navbar;
  background: linear-gradient(90deg, rgba(55,220,208,1) 20%, rgba(255,134,129,1) 40%, rgba(163,125,138,1) 79%);
}

.grid-sidebar{
  grid-area: sidebar;
  background-color: $grid-side;
}

.grid-main{
  grid-area: main;
  background-color: $grid-main;
}

.grid-footer{
  grid-area: footer;
  background: linear-gradient(90deg, rgba(163,125,138,1) 20%, rgba(224,131,132,1) 40%, rgba(55,220,208,1) 79%);
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template-areas: 
  "navbar"
  "main"
  "sidebar"
  "footer";
}

@media (min-width: 768px) {
	.grid-container {
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-columns: repeat(2fr, 1fr);
        gap: 10px;
        grid-template-areas: 
        "navbar navbar navbar navbar"
        "main main sidebar sidebar"
        "footer footer footer footer";
	}
}
