.imagenes{
    color: var(--color-corn);
    padding: 20px;
    text-align: center;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    img{
        width: 250px;
        height: 150px;
        opacity: .5;
        border: 2px double var(--color-grey);
        cursor: pointer;

        &:hover{
            opacity: 1;
            border: solid;
        }
    }
}

