@media (max-width: 990px) {
    .navbar{
        opacity: 0.8;
    }
    .navbar-collapse{
        height: 100vh;
    }
    .mt-mob{
        margin-top: 2rem;
    }
}

@media (min-width: 990px){
    .grid-container{
        grid-template:
        "navbar navbar  navbar" 80px
        "sidebar  main    main" auto /
        200px    auto    auto;
    }
  }