@media (max-width: 768px) {
    .navbar{
        opacity: 0.95;
        text-align: center;
        font-size: 1.5rem;
        padding: 10px;
        background-color: blue;
    }
    .navbar-collapse{
        height: 100vh;
    }
    .mt-mob{
        margin-top: 2rem;
    }
    .d-flex{
        justify-content:center;
        width: 100%;
        margin: 15px;
    
        .btn{
            cursor: pointer;
            align-items: center;
        }
    }
    .card{
        margin-top: 10px;
    }

    .imgconsejo{
        margin-top: 10px;
    }
}


