@mixin cajas ($bgcaja){
    background-color: $bgcaja;
    border-radius: 5px;
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border: 4px;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    h2{
        color: $granate;
    }
    p{
        color: $color-oscuro;
    }
}

.header-mixin{
    text-align: center;
    color: $color-oscuro;
    height: 50px;
}

.productos{
    @include cajas ($grid-nav)
}

.servicios{
    @include cajas ($grid-main)
}

.extras{
    @include cajas ($grid-side)
}