/* Variables*/
:root {
    --color-corn-light: #f2deff;
    --color-corn: cornflowerblue;
    --color-bluelight: rgba(0,212,255,1);
    --color-blue: rgb(53,99,139);
    --color-green: rgb(0,255,126);
    --color-grey: grey;
    --color-wsmoke: whitesmoke;
    --grid-main: rgb(186,119,135);
    --grid-side:rgb(0, 228, 211);
    --color-nomade: rgb(44, 98, 141);
  }
  $color-blanco: whitesmoke;
  $color-oscuro: #343434;
  $wp: rgb(0,255,126);
  $ig: #8a3ab9;
  $fb:#3b5998;
  $grid-nav:lightsalmon;
  $grid-main:rgb(0, 228, 211);
  $grid-side:rgb(186,119,135);
  $granate: rgb(65, 7, 7);
